# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node.js dependencies
/node_modules/

# React Router
/.react-router/
/build/

*.env*