{
	"plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-organize-imports"],
	"tailwindStylesheet": "./app/app.css",
	"tailwindFunctions": ["clsx", "cva"],
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 150
}
